<div class="nav">
  <img class="nav__logo" src="/images/nav-logo.png"/>
  <div id="navBookNowButton" class="nav__bookButton">
    BOOK NOW
  </div>
  <div id="navMenuButton" class="nav__button">
    <svg id="navMenuIcon" class="menuIcon" width="25" height="18" viewBox="0 0 25 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="16" width="25" height="2" rx="1" fill="currentColor"/>
      <rect y="8" width="25" height="2" rx="1" fill="currentColor"/>
      <rect width="25" height="2" rx="1" fill="currentColor"/>
    </svg>
    <svg id="navCloseIcon" class="closeIcon navIcon--hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M14.4 12L23.5091 21.1091C24.1636 21.7636 24.1636 22.8545 23.5091 23.5091C22.8545 24.1636 21.7636 24.1636 21.1091 23.5091L12 14.4L2.89089 23.5091C2.23634 24.1636 1.14545 24.1636 0.490909 23.5091C-0.163636 22.8545 -0.163636 21.7636 0.490909 21.1091L9.59999 12L0.490909 2.89091C-0.163636 2.23637 -0.163636 1.14545 0.490909 0.490909C1.14545 -0.163636 2.23634 -0.163636 2.89089 0.490909L12 9.6L21.1091 0.490909C21.7636 -0.163636 22.8545 -0.163636 23.5091 0.490909C24.1636 1.14545 24.1636 2.23637 23.5091 2.89091L14.4 12Z" fill="currentColor"/>
    </svg>
  </div>
</div>
<div id="navMenuContent" class="navMenuContent">
  <div class="navMenuHeader">
    MENU
  </div>
  <div id="theExperienceNavButton" class="navMenuAnchorButton navMenuAnchorButton--borderBottom">
    THE EXPERIENCE
  </div>
  <div id="videosNavButton" class="navMenuAnchorButton navMenuAnchorButton--borderBottom">
    VIDEOS
  </div>
  <div class="navMenuAnchorButton">
    FAQ
  </div>
  <div class="navMenuSocialIcons">
    
  </div>
</div>
<div class="pageContent">
  <div class="container--full-section-1 container--full">
    <div class="container--content container--content-section-1">
      <div class="section-1--headerOpaque headerOpaque">
        WHAT ITS ALL ABOUT
      </div>
      <div class="section-1--headerMain headerMain">
        live video chat with santa
      </div>
      <div class="section-1--bodyText bodyText">
        Embark on an magical Elf guided Journey to the North Pole and enjoy a live video chat with Santa. The experience is guided by Elf Pickles, Dimples, Bazzle and Tinsel.
      </div>
      <div class="section-1--watchTrailer watchTrailer">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" r="15.5" stroke="currentColor"/>
          <path d="M12.8 20.0422C12.8189 20.9361 13.6661 21.4773 14.4084 21.0518L20.3774 17.3914C20.7025 17.1918 20.9231 16.826 20.9231 16.3974C20.9231 15.9687 20.7025 15.603 20.3774 15.4034L14.4084 11.7482C13.6661 11.3226 12.8189 11.8587 12.8 12.7526V20.0422Z" fill="currentColor"/>
        </svg>
        <span>Watch trailer</span>
      </div>
    </div>
  </div>
  <div id="theExperienceSection" class="container--full-section-2 container--full">
    <div class="container--full-section-2__background">
    </div>
    <div class="container--content container--content-section-2">
      <div class="section-2--headerOpaque headerOpaque">
        THE EXPERIENCE
      </div>
      <div class="section-2--headerRegular headerRegular">
        A reimagined timeless tradition from the safety of your own home
      </div>
      <div class="section-2-carousel">
        <div class="section-2-carousel-images-container">
          <img class="section-2-carousel-image section-2-carousel-image--prev" src="/images/carousel-1.png"/>
          <img class="section-2-carousel-image section-2-carousel-image--current" src="/images/carousel-2.png"/>
          <img class="section-2-carousel-image section-2-carousel-image--next" src="/images/carousel-3.png"/>
        </div>
        <div class="section-2-carousel-status carouselStatusText">Part <span class="carouselCurrentSlideText">2</span>/8</div>
        <div class="section-2-carousel-header carouselHeader">The Sleigh Ride</div>
        <div class="section-2-carousel-body bodyText">Your virtual call will begin with Elf Silver transporting you to the North Pole, Buckle up for an exhilaring sleigh ride, Enjoy the the skies from behind the reindeers as they fly you to the North Pole</div>
        <div class="section-2-carousel-duration carouselDurationText">Duration: 3 Minutes</div>
        <div class="section-2-carousel-nav-buttons">
          <!-- prev carousel icon -->
          <svg class="section-2-carousel-nav-button section-2-carousel-nav-button--prev" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7428 26.1762C22.8822 26.0367 22.8822 25.8106 22.7428 25.6711L17.4395 20.3677L22.7428 15.0643C22.8822 14.9248 22.8822 14.6987 22.7428 14.5592C22.6033 14.4198 22.3772 14.4198 22.2377 14.5592L16.6819 20.1152C16.5425 20.2546 16.5425 20.4808 16.6819 20.6202L22.2377 26.1762C22.3772 26.3156 22.6033 26.3156 22.7428 26.1762Z" fill="currentColor"/>
          </svg>

          <!-- next carousel icon -->
          <svg class="section-2-carousel-nav-button section-2-carousel-nav-button--next" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19.5" stroke="currentColor"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.9506 26.1762C17.8111 26.0367 17.8111 25.8106 17.9506 25.6711L23.2538 20.3677L17.9506 15.0643C17.8111 14.9248 17.8111 14.6987 17.9506 14.5592C18.0901 14.4198 18.3162 14.4198 18.4557 14.5592L24.0114 20.1152C24.1509 20.2546 24.1509 20.4808 24.0114 20.6202L18.4557 26.1762C18.3162 26.3156 18.0901 26.3156 17.9506 26.1762Z" fill="currentColor"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div id="reviews" class="reviews">
      <div class="reviewHeader headerOpaque">
        CRITIQUE REVIEW
      </div>
      <div class="reviewBody bodyText">
        “What an experience for my family, my son can’t stop talking about it! Would highly recommend this to any families this christmas in need of some joy!”
      </div>
      <div class="reviewName">John Hammon, BBC</div>
      <div class="reviewTicks">
        <div class="reviewTick reviewTick--active"></div>
        <div class="reviewTick"></div>
        <div class="reviewTick"></div>
        <div class="reviewTick"></div>
      </div>
  </div>
  <div id="videosSection" class="container--full-section-3 container--full">
    <div class="container--full-section-3__background">
    </div>
    <div class="container--content container--content-section-3">
      <div class="section-3--headerOpaque headerOpaque">
        VIDEOS
      </div>
      <div class="section-3--headerRegular headerRegular">
        Some of the North Pole residents have a message for you
      </div>
      <div class="video-thumbs-container">
        <div id="video-thumb-santa" class="video-thumb-container video-thumb-container--first">
          <div class="video-image-container">
            <img class="video-image" src="/images/video-1-thumb.png">
            <div class="video-thumb-overlay"></div>
            <svg class="video-thumb-play-icon" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="40" fill="black" fill-opacity="0.4"/>
              <path d="M32 50.1065C32.0471 52.3411 34.1652 53.6943 36.0209 52.6304L50.9434 43.4795C51.7562 42.9805 52.3076 42.0661 52.3076 40.9945C52.3076 39.9228 51.7562 39.0084 50.9434 38.5094L36.0209 29.3714C34.1652 28.3076 32.0471 29.6478 32 31.8824V50.1065Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="video-title videoThumbnailTitle">Message from Santa</div>
        </div>
        <div id="video-thumb-elf" class="video-thumb-container video-thumb-container--second">
          <div class="video-image-container">
            <img class="video-image" src="/images/video-2-thumb.png">
            <div class="video-thumb-overlay"></div>
            <svg class="video-thumb-play-icon" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="40" cy="40" r="40" fill="black" fill-opacity="0.4"/>
              <path d="M32 50.1065C32.0471 52.3411 34.1652 53.6943 36.0209 52.6304L50.9434 43.4795C51.7562 42.9805 52.3076 42.0661 52.3076 40.9945C52.3076 39.9228 51.7562 39.0084 50.9434 38.5094L36.0209 29.3714C34.1652 28.3076 32.0471 29.6478 32 31.8824V50.1065Z" fill="currentColor"/>
            </svg>
          </div>
          <div class="video-title videoThumbnailTitle">Message from the Elfs</div>
        </div>
      </div>

      <div id="video-embed-container" class="video-embed-container">
        <iframe frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div id="bookingSection" class="container--full-section-4 container--full">
    <div class="container--full-section-4__background">
    </div>
    <div class="container--content container--content-section-4">
      <div class="section-4--headerOpaque headerOpaque">
        BOOK NOW
      </div>
      <div class="section-4--headerRegular headerRegular">
        Reserve your time to video chat with Santa
      </div>
      <div class="pricing-guide">
        <div class="pricing-guide-range pricing-guide-range--min calendarPrices">
          $30 - 50
        </div>
        <div class="pricing-guide-range pricing-guide-range--med calendarPrices">
          $50 - 80
        </div>
        <div class="pricing-guide-range pricing-guide-range--max calendarPrices">
          $80 - 100
        </div>
      </div>
      <div class="calendarMonth">Dec 2020</div>
      <div class="daysOfWeek">
        <div class="dayOfWeek">Sun</div>
        <div class="dayOfWeek">Mon</div>
        <div class="dayOfWeek">Tue</div>
        <div class="dayOfWeek">Wed</div>
        <div class="dayOfWeek">Thu</div>
        <div class="dayOfWeek">Fri</div>
        <div class="dayOfWeek">Sat</div>
      </div>
    </div>
    <div class="datesContainer">
      <!-- week 1 -->
      <div class="dateContainer dateContainer--disabled">
        <div class="dateNumber">28</div>
      </div>
      <div class="dateContainer dateContainer--disabled">
        <div class="dateNumber">29</div>
      </div>
      <div class="dateContainer dateContainer--disabled">
        <div class="dateNumber">30</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">1</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">2</div>
      </div>
      <div class="dateContainer dateContainer--price-med">
        <div class="dateNumber">3</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">4</div>
      </div>
      <!-- week 2 -->
      <div class="dateContainer dateContainer--price-med">
        <div class="dateNumber">5</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">6</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">7</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">8</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">9</div>
      </div>
      <div class="dateContainer dateContainer--price-med">
        <div class="dateNumber">10</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">11</div>
      </div>
      <!-- week 3 -->
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">12</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">13</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">14</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">15</div>
      </div>
      <div class="dateContainer dateContainer--price-min dateContainer--selected">
        <div class="dateNumber">16</div>
      </div>
      <div class="dateContainer dateContainer--price-med">
        <div class="dateNumber">17</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">18</div>
      </div>
      <!-- week 4 -->
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">19</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">20</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">21</div>
      </div>
      <div class="dateContainer dateContainer--price-med">
        <div class="dateNumber">22</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">23</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">24</div>
      </div>
      <div class="dateContainer dateContainer--price-max">
        <div class="dateNumber">25</div>
      </div>
      <!-- week 5 -->
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">26</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">27</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">28</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">29</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">30</div>
      </div>
      <div class="dateContainer dateContainer--price-min">
        <div class="dateNumber">31</div>
      </div>
      <div class="dateContainer dateContainer--disabled">
        <div class="dateNumber">1</div>
      </div>
    </div>
    <div class="hoursContainer">
      <div class="hoursContainer__top-border"></div>
      <div class="hoursContainer__headerRegular headerRegular">
        Select a time to call<br/>North Pole (<select>
          <option value="MST">MST</option>
          <option value="PST">PST</option>
          <option value="CST">CST</option>
          <option value="EST">EST</option>
        </select>)
      </div>
      <div class="hoursContainer__hoursList">
        <div class="hoursContainer__hourCard hoursContainer__hourCard--first">
          <div class="hourCard__hour">8am - 9am</div>
          <div class="hourCard__slots">6 departures available</div>
          <div class="hourCard__price">$35.80</div>
        </div>
        <div class="hoursContainer__hourCard hoursContainer__hourCard--active">
          <div class="hourCard__hour">9am - 10am</div>
          <div class="hourCard__slots">6 departures available</div>
          <div class="hourCard__price">$35.80</div>
        </div>
        <div class="hoursContainer__hourCard hoursContainer__hourCard--disabled hoursContainer__hourCard--last">
          <div class="hourCard__hour">10am - 11am</div>
          <div class="hourCard__slots">6 departures available</div>
          <div class="hourCard__price">$35.80</div>
        </div>
      </div>
    </div>
    <div class="departureContainer">
      <div class="departureContainer__top-border"></div>
      <div class="departureContainer__headerRegular headerRegular">
        Your Santa Experience Booking
      </div>
      <div class="departureContainer__departureDate bodyText"><b>Date:</b> 16.12.20</div>
      <div class="departureContainer__choosetime bodyText">Choose depature time:</div>
      <div class="departureContainer__availableTimes">
        <div class="departureContainer__availableTime">
          <input type="checkbox" id="800pm">
          <label class="bodyText" for="800pm">8:00pm</label>
        </div>
        <div class="departureContainer__availableTime">
          <input type="checkbox" id="805pm">
          <label class="bodyText" for="805pm">8:05pm</label>
        </div>
        <div class="departureContainer__availableTime">
          <input type="checkbox" id="810pm">
          <label class="bodyText" for="810pm">8:10pm</label>
        </div>
        <div class="departureContainer__availableTime">
          <input type="checkbox" id="815pm">
          <label class="bodyText" for="scales">8:15pm</label>
        </div>
      </div>
      <div class="departureContainer__price bodyText"><b>Total price:</b> $35.80</div>
      <div class="departureContainer__checkoutButton">Checkout</div>
      <div class="departureContainer__slotReservedTimer bodyText">
        Time slot reserved for <span id="reservedTimer">9:36</span> more minutes
      </div>
    </div>
  </div>
<!-- START FORM -->
  <div id="formSection" class="container--full-section-form container--full">
    <div class="container--content container--content-section-form">
      <div id="formCloseButton" class="formCloseButton">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.4 12L23.5091 21.1091C24.1636 21.7636 24.1636 22.8545 23.5091 23.5091C22.8545 24.1636 21.7636 24.1636 21.1091 23.5091L12 14.4L2.89089 23.5091C2.23634 24.1636 1.14545 24.1636 0.490909 23.5091C-0.163636 22.8545 -0.163636 21.7636 0.490909 21.1091L9.59999 12L0.490909 2.89091C-0.163636 2.23637 -0.163636 1.14545 0.490909 0.490909C1.14545 -0.163636 2.23634 -0.163636 2.89089 0.490909L12 9.6L21.1091 0.490909C21.7636 -0.163636 22.8545 -0.163636 23.5091 0.490909C24.1636 1.14545 24.1636 2.23637 23.5091 2.89091L14.4 12Z" fill="currentColor"/>
        </svg>
      </div>
      <div class="formHeaderMain">Checkout</div>
      <div class="formSlotDetails">
        <div>Date: <span id="formSlotDetailsDate" class="formSlotDetailsDate">12.16.20</span></div>
        <div>Time: <span id="formSlotDetailsTime" class="formSlotDetailsTime">8:05pm</span> <span id="formSlotDetailsTimezone" class="formSlotDetailsTimezone">GMT</span></div>
        <div>Price: <span id="formSlotDetailsPrice" class="formSlotDetailsPrice">£35.50</span></div>
      </div>
      <div class="formBreak"></div>
      <div class="formYourInformationHeader">Your information</div>
      <div class="formYourInformationSubheader">(Lead passenger, must be over the age of 18)</div>
      <div class="formInputText">
        <label for="firstName">First name*</label>
        <input type="text" id="firstName" placeholder="First name"/>
      </div>
      <div class="formInputText">
        <label for="lastName">Last name*</label>
        <input type="text" id="lastName" placeholder="Last name"/>
      </div>
      <div class="formInputText">
        <label for="email">Email*</label>
        <input type="text" id="email" placeholder="Email"/>
      </div>
      <div class="formInputText">
        <label for="addressLine1">Address line 1*</label>
        <input type="text" id="addressLine1" placeholder="Street name"/>
      </div>
      <div class="formInputText">
        <label for="addressLine2">Address line 2</label>
        <input type="text" id="addressLine2" placeholder="Street name"/>
      </div>
      <div class="formInputText">
        <label for="city">City*</label>
        <input type="text" id="city" placeholder="City"/>
      </div>
      <div class="formInputText">
        <label for="state">State*</label>
        <input type="text" id="state" placeholder="State"/>
      </div>
      <div class="formInputText">
        <label for="country">Country*</label>
        <input type="text" id="country" placeholder="Country"/>
      </div>
      <div class="formBreak"></div>
      <div class="formYourInformationHeader">Additional passenger</div>
      <div class="formInputText">
        <label for="nickname">Nickname</label>
        <input type="text" id="nickname" placeholder="Nickname"/>
      </div>
      <div class="formInputText">
        <label for="age">Age</label>
        <input type="text" id="age" placeholder="Age"/>
      </div>
      <!-- Display a payment form -->
      <form id="payment-form">
        <div id="card-element"><!--Stripe.js injects the Card Element--></div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
        Jimmy you can put the successful result message here
        </p>
      </form>
    </div>
  </div>
  <!-- END FORM -->
</div>