@import "typography";

.tk-futura-pt { font-family: "futura-pt",sans-serif; }
.tk-kepler-std { font-family: "kepler-std",serif; }
.tk-futura-pt-bold { font-family: "futura-pt-bold",sans-serif; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #000;
  color: #FFF;
  font-size: 16px;
}

body.nav-active {
  height: 100vh;
  overflow-y: hidden;
}
// small 0.75em
// regular 1em
// large 1.5em
// xl 2em
// main 3em

@import "nav";

.container--full-section-1 {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/images/bg-1-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container--content-section-1 {
  padding-bottom: 75px;
  padding-left: 24px;
  padding-right:24px;
  padding-top: 407px;
  width: 100%;
}
.section-1--headerOpaque {
  margin-bottom: 24px;
}
.section-1--headerMain {
  margin-bottom: 16px;
}
.section-1--bodyText {
  margin-bottom: 32px;
}
.section-1--watchTrailer {
  cursor: pointer;
  display: flex;
  align-items: center;
  svg {
    height: auto;
    margin-right: 20px;
    width: 32px;
  }
}
.container--full-section-2 {
  background: none;
  position: relative;
}
.container--full-section-2__background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/images/bg-2-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.container--content-section-2 {
  padding-bottom: 89px;
  padding-top: 80px;
}

.section-2--headerOpaque {
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.section-2--headerRegular {
  margin-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

// break this out to full width on desktop
// probably give parent overflow visible on desktop
.section-2-carousel {
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
.section-2-carousel-images-container {
  height: calc(100vw - 48px);
  max-height: 400px;
  overflow: hidden;
  position:relative;
  width: 100%;
}
.section-2-carousel-image {
  height: auto;
  left: 0;
  max-width: 400px;
  opacity: 0;
  position:absolute;
  top: 0;
  transition: all 0.2s;
  width: 100%;
}
.section-2-carousel-image--current {
  opacity: 1;
}
.section-2-carousel-status {
  margin-bottom: 24px;
  margin-top: 40px;
}
.section-2-carousel-header {
  margin-bottom: 16px;
}
.section-2-carousel-body {
  margin-bottom: 24px;
}
.section-2-carousel-duration {
  margin-bottom: 40px;
}
.section-2-carousel-nav-button {
  cursor: pointer;
  height: auto;
  width: 40px;
}
.section-2-carousel-nav-button--prev {
  margin-right: 12px;
}
.reviews {
  border-left: 2px solid #A92921;
  margin: 0 auto;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  width: calc(100% - 48px);
}
.reviewHeader {
  margin-bottom: 16px;
}
.reviewBody {
  margin-bottom: 32px;
}
.reviewName {
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  margin-bottom: 32px;
}
.reviewTicks {
  display: flex;
  width: 100%;
}
.reviewTick {
  background: #000;
  border: 2px solid #FFF;
  border-radius: 100%;
  height: 8px;
  margin-right: 10px;
  transition: all 0.2s;
  width: 8px;
}
.reviewTick--active {
  background: #FFF;
}

.container--full-section-3 {
  background: none;
  position: relative;
}
.container--full-section-3__background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/images/bg-3-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.container--content-section-3 {
  padding-bottom: 105px;
  padding-top: 80px;
}

.section-3--headerOpaque {
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.section-3--headerRegular {
  margin-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.video-thumbs-container {
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  overflow-x: scroll;
  width: 100%;
}
.video-thumb-container--first {
  margin-right: 20px;
}
.video-thumb-container--second {
  padding-right: 24px;
}
.video-thumb-container {
  display: flex;
  flex-direction: column;
}
.video-image-container {
  position: relative;
}
.video-image {
  border-radius: 5%;
  height: auto;
  max-width:400px;
  width: calc(100vw - 94px);
}
.video-thumb-overlay {
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.video-thumb-play-icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video-title {
  margin-top: 24px;
}
.container--full-section-4 {
  background: none;
  position: relative;
}
.container--full-section-4__background {
  background-color: #051323;
  background-image: linear-gradient(226.84deg, rgba(255, 255, 255, 0.09) 0%, rgba(255, 255, 255, 0) 74.2%);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.container--content-section-4 {
  padding-top: 80px;
}

.section-4--headerOpaque {
  margin-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.section-4--headerRegular {
  margin-bottom: 56px;
  padding-left: 24px;
  padding-right: 24px;
}

.pricing-guide {
  align-items: center;
  display: flex;
  margin-bottom: 80px;
  padding-left: 24px;
}
.pricing-guide-range {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80px;
}
.pricing-guide-range--min {
  border-bottom: 2px solid #408FA3;
  margin-right: 24px;
}
.pricing-guide-range--med {
  border-bottom: 2px solid #663AD1;
  margin-right: 24px;
}
.pricing-guide-range--max {
  border-bottom: 2px solid #EF8633;
}

.calendarMonth {
  font-family: "futura-pt",sans-serif;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  padding-left: 24px;
  margin-bottom: 56px;
}
.daysOfWeek {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}
.dayOfWeek {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  /* Gray / 5 */

  color: #EEECF1;
  margin-bottom: 40px;
  width: calc((100vw - 48px) / 7);
}

.datesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.dateContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: calc((100vw - 48px) / 7);
  justify-content: space-around;
  width: calc((100vw - 48px) / 7);
}
.dateNumber {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 8px;
  text-align: center;
  width: 16px;
}
.dateContainer--price-min {
  .dateNumber {
    border-bottom: 2px solid #408FA3;
  }
}
.dateContainer--price-med {
  .dateNumber {
    border-bottom: 2px solid #663AD1;
  }
}
.dateContainer--price-max {
  .dateNumber {
    border-bottom: 2px solid #EF8633;
  }
}
.dateContainer--selected {
  background: #3C8526;
  border-radius: 100%;
}
.dateContainer--disabled {
  background: rgba(0,0,0,0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  cursor: initial;
  .dateNumber {
    color: rgba(255, 255, 255, 0.2);
  }
}
.hoursContainer {
  display: flex;
  flex-direction: column;
}
.hoursContainer__top-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 56px;
  margin-left: 24px;
  width: calc(100vw - 48px);
}
.hoursContainer__headerRegular {
  margin-bottom: 40px;
  padding-left:24px;
  padding-right:24px;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0,0,0,0);
    display: inline;
    font-size: 16px;
    color: white;
    font: inherit;
    border: none;
    background: none;
    border-bottom:1px solid white;
  }
}
.hoursContainer__hoursList {
  display: flex;
  margin-bottom: 72px;
  overflow-x: scroll;
  width: 100%;
}
.hoursContainer__hourCard {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 120px;
  margin-right: 16px;
  min-width: 180px;
  width: 180px;
}
.hoursContainer__hourCard--active {
  background: #3C8526;
  border-color: #3C8526;
}
.hoursContainer__hourCard--first {
  margin-left: 24px;
}
.hoursContainer__hourCard--last {
  margin-right: 24px;
}
.hourCard__hour {
  font-family: "futura-pt",sans-serif;
  font-size: 16px;
  margin-bottom: 12px;
}
.hourCard__slots {
  color: rgba(255, 255, 255, 0.6);
  font-family: "futura-pt",sans-serif;
  font-size: 12px;
  margin-bottom: 24px;
}
.hourCard__price {
  font-family: "futura-pt",sans-serif;
  font-size: 16px;
}
.hoursContainer__hourCard--disabled {
  border-color: rgba(255, 255, 255, 0.1);
  .hourCard__hour {
    color: rgba(255, 255, 255, 0.1);
  }
  .hourCard__slots {
    color: rgba(255, 255, 255, 0.1);
  }
  .hourCard__price {
    color: rgba(255, 255, 255, 0.1);
  }
}